@tailwind base;
@tailwind components;
@tailwind utilities;

.text-title-large {
	font-size: 1.375rem;
	line-height: 1.75rem;
	font-weight: 500;
}

.text-title-medium {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 500;
	letter-spacing: 0.15px;
}

.text-body-large {
	font-size: 1rem;
	line-height: 1.5rem;
	letter-spacing: 0.15px;
}

.text-body-medium {
	font-size: 0.875rem;
	line-height: 1.25rem;
	letter-spacing: 0.25px;
}

.text-body-small {
	font-size: 0.75rem;
	line-height: 1rem;
	letter-spacing: 0.4px;
}

h2.text-body-large {
	font-weight: 500;
}

.text-label-large {
	font-size: 0.875rem;
	line-height: 1.25rem;
	letter-spacing: 0.1px;
}

.text-label-small {
	font-size: 0.65rem;
	line-height: 1rem;
	letter-spacing: 0.5px;
	font-weight: 500;
}

.text-label-medium {
	font-size: 0.75rem;
	line-height: 1rem;
	letter-spacing: 0.5px;
	font-weight: 500;
}

hr {
	@apply my-2 border-outline-variant;
}

li:last-child hr {
	@apply hidden;
}

.button {
	@apply flex items-center justify-center rounded-[100px] bg-primary px-6 py-3 text-on-primary transition hover:bg-primary/70;
}

.hero {
	@apply grid w-full place-items-center bg-cover bg-center;
	& > * {
		@apply col-start-1 row-start-1;
	}
	&-overlay {
		@apply col-start-1 row-start-1 h-full w-full;
	}
	&-content {
		@apply z-0 flex w-full items-center justify-center;
	}
}
